a{
	text-decoration: none;
	color: #000;
}
ul,body{
	margin:0;
	padding: 0
}
ul>li{
	list-style: none;
}
header{
	border-bottom: 1px solid #ccc;
	overflow:hidden;
	background: orange;
}
header h2{
	float: left;
}
header .userinfo{
	float: right;
}
header .userinfo>li{
	float: left;
	margin: 5px 10px;
}
.leftnav{
	float: left;
	width: 200px;
	border-right: 1px solid #ccc;
	min-height: 300px;
	text-align: center;
}
.content{
	margin-left: 210px;
	padding: 10px;
}
.content h3{
	margin: 0;
}

.content table {
	border-collapse: collapse;
	width: 90%;
}
.content table td,.content table th{
	border: 1px solid #ccc;
	text-align: center;
}

